<h1>Add New</h1>

<%= form_for @theme do |f| %>
<p>
  <%= f.label:title %><br>
  <%= f.text_field:title %>
</p>
<p>
  <%= f.label:content %><br>
  <%= f.text_field:content %>
</p>
<% if @theme.errors.any? %>
<%= @theme.errors.messages[:title][0]%>
<%= @theme.errors.messages[:content][0]%>
<% end %>
<p><%= f.submit %></p>
<% end %>
