<h1><%= @theme.title %></h1>

<ul>
  <%= @theme.content %>
  <%= link_to "Edit Theme", edit_theme_path(@theme.id) %>
  <%= link_to "Delete Theme", theme_path(@theme.id), method: :delete, data:{confirm:"Are you sure?"} %>
</ul>
<ul>
  <% @theme.posts.each do |post| %>
  <li>
    <%= post.content %>
    <%= link_to "Delete", theme_post_path(post.theme_id, post.id), method: :delete, data:{confirm:"Are you sure?"} %>
  </li>
  <% end %>
  <li>
    <%= form_for [@theme, @theme.posts.build] do |f| %>
    <%= f.text_field :content %>
    <%= f.submit %>
    <% end %>
  </li>
</ul>
